apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "token": "dapi00000000000000000000000000000000",
      "host": "uint0.cloud.databricks.com"
    }
